<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
</head>
<body ng-app="myApp">
	<div ng-controller="MyCtrl">
		<form ng-submit="submit()" >
			Nhập danh sách heroes:
			<input type="text" ng-model="hero" />
			<input type="submit" value="Thêm">
		</form>

		<p>Danh sách heroes:</p>
		<pre>{{list}}</pre>
		<ul>
			<li ng-repeat="pupil in list">{{pupil}}</li>
		</ul>
	</div>

	<script type="text/javascript">
		var app = angular.module('myApp', []);
		app.controller('MyCtrl', ['$scope', function($scope) {
			$scope.list = [];

			$scope.submit = function() {
				if ($scope.hero) {
					$scope.list.push($scope.hero);
					$scope.hero = '';
				} 
			}
		}]);
	</script>
</body>
</html>
