<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
</head>
<body ng-app="myApp">
	<div ng-controller="MyCtrl">
		<form>
			Username: <input type="text" ng-model="username" /><br />
			Password: <input type="password" ng-model="password" /><br />
			<button ng-click="login()">Login</button>
		</form>
	</div>

	<script type="text/javascript">
		var app = angular.module('myApp', []);
		app.controller('MyCtrl', function($scope, $http, $window) {
			$scope.login = function() {
				var url = 'http://www.mocky.io/v2/5d275084320000fe2a71baa0';
	            var data = {
	            	username: $scope.username,
	            	password: $scope.password
	            };
	            var config = {
	            	header: {'Content-Type': 'application/x-www-form-urlencoded;charset:utf-8;'}
	            };
	            $http.post(url, data, config).then(function(response) {
	            	$scope.message = response.data;
	            	$window.alert($scope.message);
	            });
			}
		});
	</script>
</html>
