<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
</head>
<body ng-app="myApp">
	<div ng-controller="MyCtrl">
		<div ng-show="!showMenu">
			<h2>Menu</h2>
			<ul>
				<li>Menu 1</li>
				<li>Menu 2</li>
				<li>Menu 3</li>
			</ul>			
		</div>
		<div ng-if="showMenu">Ahihi! d0^` ng0k'</div>
		
			<button ng-click="toggle()">Toggle Click</button>
			<button style="margin-left: 30px" ng-mouseover="toggle()">Toggle MouseOver</button>
	</div>

	<script type="text/javascript">
		var app = angular.module('myApp', []);
		app.controller('MyCtrl', ['$scope', function($scope) {
			$scope.showMenu = false;
			$scope.toggle = function() {
				$scope.showMenu = !$scope.showMenu; 
			}
		}]);
	</script>
</body>
</html>
